@page "/{author}"
@model Chirp.Razor.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
    int next = Model.page + 2;
    int previous = Model.page;
}

<div>
    @if (User.Identity.IsAuthenticated)
    {
    <div class="cheepbox">
        <h3>What's on your mind @(Model.Username)?</h3>
        <form method="post">
            <input required style="float: left" type="text" asp-for="cheepDTO.Text" maxlength="160">
            <input type="submit" value="Share">
        </form>
    </div>
    }
    
    <h2> @routeName's Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <div>
        @if (previous > 0)
        {
        <button>
            <a href="?page=@previous" class="button" style=" color: white">Previous @(previous)</a>
        </button>
        }
        <button>
            <a href="?page=@next" class="button" style=" color: white">Next @(next)</a>
        </button>
    </div>
</div>
