@page "/AboutMe"
@model Chirp.Razor.Pages.UserProfileModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @if (User.Identity is { IsAuthenticated: true })
    {
        <h2 class="siteTitle">About Me!</h2>
        <div>
            <span style="float:right">
                <form method="post">
                    <button asp-page-handler="DeleteUser">
                        Forget me!
                    </button>
                    <input type="hidden" name="email" value="@Model.Email"/>
                </form>
            </span>
            <h3>User: @Model.Username</h3>
            <h3>Email: [ @Model.Email ]</h3>
        </div>
        <div>
            @if (Model.Following.Any())
            {
                <hr style="border-top: 3px solid #bbbbbb">
                <h3>Following: @Model.Following.Count</h3>
                <ul id="messagelist" class="cheeps">
                    @foreach (var author in Model.Following)
                    {
                        <li>
                            <span style="float: right">
                                <form method="post">
                                    <button class="button" asp-page-handler="ToggleFollow" style="transform: translateY(-25%);">
                                        UnFollow
                                    </button>
                                    <input type="hidden" name="self" value="@Model.Email"/>
                                    <input type="hidden" name="follow" value="@author.Email"/>
                                </form>
                            </span>
                            <a href="/@author.Name">@author.Name</a>
                        </li>
                    }
                </ul>
            }
        </div>
        <div>
            @if (Model.Blocking.Any())
            {
                <hr style="border-top: 3px solid #bbbbbb">
                <h3>Blocking: @Model.Blocking.Count</h3>
                <ul id="messagelist" class="cheeps">
                    @foreach (var author in Model.Blocking)
                    {
                        <li>
                            <span style="float: right">
                                <form method="post">
                                    <button class="button" asp-page-handler="ToggleBlocking" style="transform: translateY(-25%);">
                                        UnBlock
                                    </button>
                                    <input type="hidden" name="self" value="@Model.Email"/>
                                    <input type="hidden" name="follow" value="@author.Email"/>
                                </form>
                            </span>
                            <a href="/@author.Name">@author.Name</a>
                        </li>
                    }
                </ul>
            }
        </div>
        @if (Model.Cheeps.Any())
        {
            <hr style="border-top: 3px solid #bbbbbb">
            <h3>Cheeps:</h3>
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <p>
                            <strong>
                                <div>
                                    <a href="/@cheep.Author">@cheep.Author</a>
                                    <small>
                                        - @cheep.Timestamp
                                    </small>
                                </div>
                            </strong>
                            <div style="word-wrap: break-word;">
                                @cheep.Text
                            </div>
                        </p>
                    </li>
                }
            </ul>
        }
    }
</div>