@page "/{author}"
@model Chirp.Razor.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    string? routeName = (string?)HttpContext.GetRouteValue("author");
    int next = Model.page + 2;
    int previous = Model.page;
}

<div>
    @if (User.Identity is { IsAuthenticated: true })
    {
        <div class="cheepbox">
            <h3>What's on your mind @(Model.Username)?</h3>
            <form method="post">
                <input required style="float: left" type="text" asp-for="CheepDto.Text" maxlength="160">
                <input type="submit" value="Share">
            </form>
        </div>
        
        @if(!Model.AuthorService.isSelf(Model.Email, Model.AuthorService.GetAuthorDtoByName(routeName).Email) && routeName != "[DELETED]"){
            <span style="float: right;">
                <form method="post">
                    <button class="button" asp-page-handler="ToggleBlocking">
                        <span>Block</span>
                    </button>
                    <input type="hidden" name="self" value="@Model.Email"/>
                    <input type="hidden" name="follow" value="@Model.AuthorService.GetAuthorDtoByName(routeName).Email"/>
                </form>
            </span>
        }
    }
    
    <h2> @routeName's Timeline </h2>
    
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <div>
                                <a href="/@cheep.Author">@cheep.Author</a>
                                @if (User.Identity is { IsAuthenticated: true } && !Model.AuthorService.isSelf(Model.Email, cheep.Email) && cheep.Author != "[DELETED]")
                                {
                                    <form method="post">

                                        <button class="button" asp-page-handler="ToggleFollow">
                                            @if (Model.AuthorService.isFollowing(Model.Email, cheep.Email))
                                            {
                                                <span>UnFollow</span>
                                            }
                                            else
                                            {
                                                <span>Follow</span>
                                            }
                                        </button>
                                        <input type="hidden" name="self" value="@Model.Email"/>
                                        <input type="hidden" name="follow" value="@cheep.Email"/>
                                    </form>
                                    <form method="post">
                                        <button class="button" asp-page-handler="ToggleBlocking">
                                            <span>Block</span>
                                        </button>
                                        <input type="hidden" name="self" value="@Model.Email"/>
                                        <input type="hidden" name="follow" value="@cheep.Email"/>
                                    </form>
                                }
                            </div>
                        </strong>
                        <div style="word-wrap: break-word;">
                            @cheep.Text
                        </div>
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <b>There are no cheeps so far.</b>
    }
    <br/>
    <div style="margin-inline: auto; max-width: fit-content">
        @if (previous > 0)
        {
            <a href="?page=@previous" class="button" style="text-decoration: none">
                <button style="color: white;">◀</button>
            </a>
        }
        else
        {
            <a href="?page=@previous" class="button" style="text-decoration: none">
                <button style="color: white; background-color: dimgrey">◀</button>
            </a>
        }
        <b>@(previous+1)</b>
        <a href="?page=@next" class="button" style="text-decoration: none">
            <button style="color: white;">▶</button>
        </a>
    </div>
</div>
